# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Django
*.log
db.sqlite3

# Environment variables (keep .env.example tracked)
.env
.env.production
.env.deployment
.env.local
envs.txt

# IDE
.idea/
.vscode/
*.swp
